__pycache__/
*.pyc
.venv/
venv/
node_modules/
*.pdf
!hand_crafted_resumes/*example*.pdf
!data/jobs/example/**/*.pdf
data/jobs/**/*.html
.env
instance/
.vscode/
hand_crafted_resumes/*
!hand_crafted_resumes/.gitkeep
